<div class="container">
    <div class="form__top">
        <h2><span>Agregar categoría</span></h2>
    </div>
    <form class="form__reg" action="">
        <input class="input" id="nomc" type="text" name="Nombre" placeholder="Nombre" required autofocus>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Ok">
            <input class="btn__reset" type="reset" value="Reset">
        </div>
    </form>
</div>