<div class="container" style="margin-top: 2%;">
    <form action="/admin/autor" method="POST">
        <h2>Agregar <span>autor</span></h2>
        <hr>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="Nombre">
        </div>
        <div class="form-check form-check-inline">
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
        <div class="form-check form-check-inline">
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>