<div class="container">
    <div class="form__top">
        <h2><span>Agregar editorial</span></h2>
    </div>
    <form class="form__reg" action="">
        <input class="input" id="nome" type="text" name="Nombre" placeholder="Nombre" required autofocus>
        <input class="input" id="tele" type="text" name="Telefono" placeholder="Telefono" required autofocus>
        <input class="input" id="cide" type="text" name="Ciudad" placeholder="Ciudad" required autofocus>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Ok">
            <input class="btn__reset" type="reset" value="Reset">
        </div>
    </form>
</div>