<div class="container">
    <div class="form__top">
        <h2><span>Agregar libro</span></h2>
    </div>
    <form class="form__reg" action="">
        <input class="input" id="noml" type="text" name="Nombre" placeholder="Nombre" required autofocus>
        <input class="input" id="catl" type="text" name="Categoria" placeholder="Categoria" required autofocus>
        <input class="input" id="autl" type="text" name="Autor" placeholder="Autor" required autofocus>
        <input class="input" id="aniol" type="text" name="Año" placeholder="Año" required autofocus>
        <input class="input" id="edil" type="text" name="Editorial" placeholder="Editorial" required autofocus>
        <input class="input" id="cantl" type="text" name="Cantidad" placeholder="Cantidad" required autofocus>
        <input class="input" id="prel" type="text" name="Precio" placeholder="Precio" required autofocus>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Ok">
            <input class="btn__reset" type="reset" value="Reset">
        </div>
    </form>
</div>