<div class="container" style="margin-bottom: 5%;">
    <br>
    <h2>Pago</h2>
    <p>Monto total: ${{total}}</p>
    <p id="form-errors"></p>
    <hr>
    <form role="form" id="product-form" action="/carrito/comprar" method="post">
        <div class="form-group">
            <label for="card-holder-name">Nombre</label>
            <input name="card-holder-name" id="card-holder-name" type="text" class="form-control"
                placeholder="Nombre del propietario" required>
        </div>
        <div class="form-group">
            <label for="card-number">Número de la tarjeta</label>
            <input type="text" class="form-control" name="card-number" id="card-number"
                placeholder="Tarjeta de crédito/débito" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="expiry-month">Mes de expiración</label>
                    <select class="form-control" name="expiry-month" id="expiry-month" required>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col">
                    <label for="expiry-year">Año de expiración</label>
                    <select class="form-control" name="expiry-year" id="expiry-year" required>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                        <option value="24">2024</option>
                        <option value="25">2025</option>
                        <option value="26">2026</option>
                        <option value="27">2027</option>
                        <option value="28">2028</option>
                        <option value="29">2029</option>
                        <option value="30">2030</option>
                        <option value="31">2031</option>
                        <option value="32">2032</option>
                        <option value="33">2033</option>
                        <option value="34">2034</option>
                        <option value="35">2035</option>
                        <option value="36">2036</option>
                        <option value="37">2037</option>
                        <option value="38">2038</option>
                        <option value="39">2039</option>
                        <option value="40">2040</option>
                        <option value="41">2041</option>
                        <option value="42">2042</option>
                        <option value="43">2043</option>
                        <option value="44">2044</option>
                        <option value="45">2045</option>
                        <option value="46">2046</option>
                        <option value="47">2047</option>
                        <option value="48">2048</option>
                        <option value="49">2049</option>
                        <option value="50">2050</option>
                        <option value="51">2051</option>
                        <option value="52">2052</option>
                        <option value="53">2053</option>
                        <option value="54">2054</option>
                        <option value="55">2055</option>
                        <option value="56">2056</option>
                        <option value="57">2057</option>
                        <option value="58">2058</option>
                        <option value="59">2059</option>
                        <option value="60">2060</option>
                        <option value="61">2061</option>
                        <option value="62">2062</option>
                        <option value="63">2063</option>
                        <option value="64">2064</option>
                        <option value="65">2065</option>
                        <option value="66">2066</option>
                        <option value="67">2067</option>
                        <option value="68">2068</option>
                        <option value="69">2069</option>
                        <option value="70">2070</option>
                        <option value="71">2071</option>
                        <option value="72">2072</option>
                        <option value="73">2073</option>
                        <option value="74">2074</option>
                        <option value="75">2075</option>
                        <option value="76">2076</option>
                        <option value="77">2077</option>
                        <option value="78">2078</option>
                        <option value="79">2079</option>
                        <option value="80">2080</option>
                        <option value="81">2081</option>
                        <option value="82">2082</option>
                        <option value="83">2083</option>
                        <option value="84">2084</option>
                        <option value="85">2085</option>
                        <option value="86">2086</option>
                        <option value="87">2087</option>
                        <option value="88">2088</option>
                        <option value="89">2089</option>
                        <option value="90">2090</option>
                        <option value="91">2091</option>
                        <option value="92">2092</option>
                        <option value="93">2093</option>
                        <option value="94">2094</option>
                        <option value="95">2095</option>
                        <option value="96">2096</option>
                        <option value="97">2097</option>
                        <option value="98">2098</option>
                        <option value="99">2099</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="hidden" name="name" value="x">
        <input type="hidden" name="price" value="s">
        <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Código de seguridad" required>
        </div>
        <div class="form-group">
            <button id="submit-btn" type="submit" class="btn btn-primary">Pagar</button>
        </div>
    </form>
</div>