<div class="text">
  <h1 class="title">Contactos</h1>
  <div class="container">

    <div class="card">
      <img
        src="https://cdnb.artstation.com/p/assets/images/images/012/648/381/large/alex-gesti-mario-ssbu-color.jpg?1537997937">
      <h4>Isai Garcia</h4>
      <p>zs17002334@estudiantes.uv.mx<br>
        isagm@gmail.com
      </p>
    </div>

    <div class="card">
      <img
        src="https://cdnb.artstation.com/p/assets/images/images/012/878/911/large/alex-gesti-dk-ssbu-color.jpg?1537028366">
      <h4>Daniel Montoya</h4>
      <p>zs17002383@estudiantes.uv.mx<br>
        cdmonytoua@gmail.com
      </p>
    </div>

  </div>
</div>