<br>
<div class="container">
    {{#each editoriales}}
    <a class="card2" href="/editoriales/{{Id_Editorial}}">
        <h3>{{ Nombre }}</h3>
        <p class="small">Click aquí para ver todos los libros de esta editorial.</p>
        <div class="go-corner" href="#">
            <div class="go-arrow"> → </div>
        </div>
    </a>
    {{/each}}
</div>