<br><br><br>
<hr size="1">
<table class="Tprincipal">
    <tr>
        <td rowspan="2">
            <div class="slider">
                <ul>
                    <li><img src="https://www.porrua.mx/images/banners/home/4-PROMO-DiaNino.jpg" alt=" "></li>
                    <li><img src="https://www.porrua.mx/images/banners/home/7-PROMO-DiaNino.jpg" alt=""></li>
                    <li><img src="https://www.porrua.mx/images/banners/home/PROMOCIONES-aqui.jpg" alt=""></li>
                    <li><img src="https://www.porrua.mx/images/banners/home/RetoLector2020.jpg" alt=""></li>
                </ul>
            </div>
        </td>
        <td><img src="https://www.porrua.mx/images/banners/home/CornerShop-485X215.jpg"></td>
    </tr>
    <tr>
        <td><img src="https://www.porrua.mx/images/banners/home/Banner485x215-FacebookLIVE.jpg"></td>
    </tr>
</table>
