<div class="principal">

  <table class="Tprincipal">
    <tr>
      <td rowspan="2">
        <div class="slider">
          <ul>
            <li><img id="imgt5" src="https://image.freepik.com/vector-gratis/exterior-biblioteca_1308-16539.jpg" alt="">
            </li>
            <li><img id="imgt3"
                src="https://blog.vicensvives.com/wp-content/uploads/2017/11/InicitarLecturaVicensVives.png" alt=" ">
            </li>
            <li><img id="imgt6" src="https://www.magisnet.com/wp-content/uploads/2020/05/Cuarentena-02.jpg" alt=""></li>
            <li><img id="imgt4"
                src="https://universoabiertoblog.files.wordpress.com/2020/05/384375ad-66ac-42b9-bb14-a871b839ca97.jpg?w=441&h=248"
                alt=""></li>
          </ul>
        </div>
      </td>
      <td><img id="imgt1" src="https://images.milled.com/2019-06-10/TorShde5qVvS7xJQ/dz8bmKnqOvml.jpg"></td>
    </tr>
    <tr>
      <td><img id="imgt2"
          src="https://www.4webs.es/blog/wp-content/uploads/2017/06/ampliar-la-vida-del-carrito-de-compra-prestashop-1.7.jpg">
      </td>
    </tr>
  </table>
</div>