<div class="container">
    <div class="items">
        {{#each libros}}
        <div class="product">
            <h3> {{Nombre}} </h3>
            <div>
                <img src="https://www.elsotano.com/imagenes_grandes/9786077/978607747950.JPG"
                    style="width:35%; height:35%;">
            </div>
            <div class="price">
                <span>${{Precio}}</span>
                <div class="form-items">
                    <form method="POST" action="/agregar_a_carrito">
                        <input type="text" name="cantidad" value="1">
                        <input type="hidden" name="id" value={{Id_Libro}}>
                        <input type="submit" class="item-select" value="Agregar al carrito">
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="error">
            No se encontraron coincidencias. Intente de nuevo.
        </div>
        {{/each}}
    </div>
</div>