<div class="cards">
    {{#each libros}}
    <div class="card" onclick="location.href='/libro_ejemplo';" style="cursor: pointer;">
        <div>
            <img src="https://www.porrua.mx/images/productos/books/codbarl/l9786073190183.jpg"
                style="width:35%; height:35%;">
        </div>
        <div class="container">
            <b>
                <p> {{ Nombre }} </p>
            </b>
            <p> $ 0 </p>
        </div>
    </div>
    {{/each}}
</div>