<div class="container">
    <div class="form__top">
        <h2><span>Inicia sesión</span></h2>
    </div>
    <form class="form__reg" action="/login" method="POST">
        <input class="input" name="username" type="text" placeholder="&#128100;  Nombre de usuario" required autofocus>
        <input class="input" name="password" type="password" placeholder="&#128100;  Contraseña" required>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Iniciar sesión">
            <input class="btn__reset" type="reset" value="Registrarse" onclick="window.location='/registrar';">	
        </div>
    </form>
</div>