<br><br>
<div class='container'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h5>Actualizar información</h5>
        </div>
        <div class='panel-body'>
            <form class='form-horizontal' role='form'>

                <div class='form-group'>
                    <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Nombre</label>
                    <div class='col-md-8'>
                        <div class='col-md-2'>
                            <div class='form-group internal'>
                                <input class='form-control' placeholder='Nombre' type='text'>
                            </div>
                        </div>
                        <div class='col-md-3 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' placeholder='Apellido paterno' type='text'>
                            </div>
                        </div>
                        <div class='col-md-3 indent-small'>
                            <div class='form-group internal'>
                                <input class='form-control' placeholder='Apellido materno' type='text'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Contact</label>
                    <div class='col-md-6'>
                        <div class='form-group'>
                            <div class='col-md-11'>
                                <input class='form-control' id='id_email' placeholder='E-mail' type='text'>
                            </div>
                        </div>
                        <div class='form-group internal'>
                            <div class='col-md-11'>
                                <input class='form-control' placeholder='Dirección' type='text'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='control-label col-md-2 col-md-offset-2'>Código postal</label>
                    <div class='col-md-8'>
                        <div class='col-md-3'>
                            <div class='form-group internal input-group'>
                                <input class='form-control' placeholder='Código postal'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='control-label col-md-2 col-md-offset-2'>Contraseña</label>
                    <div class='col-md-8'>
                        <div class='col-md-3'>
                            <div class='form-group internal input-group'>
                                <input class='form-control' placeholder='Contraseña'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-md-offset-4 col-md-3'>
                        <button type="button" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>