<br><br>
{{#each remates}}
<div class="container">
  <div class="product" data-id="id03" data-price="36.00" data-title="Self Cooling Shot Glasses"
    style="background: url({{Imagen}});background-size: cover;">
    <span>{{Nombre_Remate}}</span>
    <br>
    <span>Precio: {{Precio}}$</span> 
  </div>
  <span class="add-to-cart">Agregar al carrito</span>
</div>
{{/each}}