<br><br>
{{#each remates}}
<div class="container">
  <div class="product" data-id="id03" data-price="36.00" data-title="Self Cooling Shot Glasses"
    style="background: url({{Imagen}});background-size: cover;">
    <span>{{Nombre_Remate}}</span>
    <br>
    <span>Precio: {{Precio}}$</span>
  </div>
  <form action="/carrito/agregarremate" method="POST">
    <input type="hidden" name="cantidad" value="1">
    <input type="hidden" name="id" value={{Id_Remate}}>
    <input type="submit" value="Agregar a carrito">
  </form>
</div>
{{/each}}