<br><br>
{{#each tecnologia}}
<div class="container">
  <div class="product" data-id="id03" data-price="36.00" data-title="Self Cooling Shot Glasses"
    style="background: url({{Imagen}});background-size: cover;">
    <span>{{Nombre_Tec}}</span>
    <br>
    <span>Precio: {{Precio}}$</span> 
  </div>
  <form action="/carrito/agregarproducto" method="POST">
    <input type="hidden" name="cantidad" value="1">
    <input type="hidden" name="id" value={{Id_Tecnologia}}>
    <input type="submit" value="Agregar a carrito">
  </form>
</div>
{{/each}}