<div class="container">
  <hr>
  <div class="row">
    <!-- Product  -->
    {{#each tecnologia}}
    <div class="col-md-3 product-grid">
      <div class="image">
        <img src={{Imagen}} class="w-100 h-50">
      </div>
      <h5 class="text-center">{{Nombre_Tec}}</h5>
      <h5 class="text-center">Precio: ${{Precio}}</h5>
      <form action="/carrito/agregarproducto" method="POST">
        <input type="hidden" name="cantidad" value="1">
        <input type="hidden" name="id" value={{Id_Tecnologia}}>
        <button type="submit" class="btn buy">
          AGREGAR AL CARRITO
        </button>
      </form>

    </div>
    {{/each}}
  </div>

</div>