.form-popup {
  display: none;
  position: fixed;
  bottom: auto;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
<!--footer-->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    width: 98%;
    margin: auto;   
}

.copy{
    font-size: 12pt;
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;   
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            
}
.sociales{
    
    text-align: center;
    width: 100%;
}

.sociales img{
    margin: 0px 5px;
}

@media (min-width:768px){
    footer .contenedor{
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .sociales{
        width: auto;
    }
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}