.product {
  width: 250px;
  height: 250px;
  font-size: 11px;
  color: black;
  font-family: 'Arial';
  margin-bottom: 10px;
  padding-top: 1px;
}
.container .product span {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Arial';
  display: inline-block;
  transform: translateY(-28px);
}
.add-to-cart {
  margin-right: 8px;
}
.container {
  display: inline-block;
  margin: 24px;
  margin-left: 50px;
  margin-bottom: 80px;
  text-align: center;
}
.container span.add-to-cart,
.container span.add-to-wish {
  font-size: 10px;
  font-family: 'Arial';
  font-weight: 800;
  color: #666;
  padding-bottom: 12px;
  display: inline-block;
  cursor: pointer;
}
