.text {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	letter-spacing: 0.03em;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
}

.title {
	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 10px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

#fin {
	width: 90%;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	margin: auto;
}