<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <img class="mx-auto d-block" src={{libro.Imagen}}></div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{libro.Nombre}}</h3>
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency">MX $</span><span class="num">{{libro.Precio}}</span>
            </span>
          </p>
          <dl class="item-property">
            <dt>Descripción</dt>
            <dd>
              <p>Aquí va la descripción del libro. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio rem,
                ratione cumque nobis quod est! Molestiae repellendus, tenetur sit saepe tempore expedita, voluptatibus
                unde officiis ullam, dolorem voluptate vitae officia maxime sapiente. Doloremque quibusdam doloribus a.
                Aut quae itaque sunt.</p>
            </dd>
          </dl>
          <hr>
          <form method="POST" action="" id="form">
            <input type="hidden" name="id" value={{libro.Id_Libro}}>
            <div class="row">
              <div class="col-sm-5">
                <dl class="param param-inline">
                  <dt>Cantidad: </dt>
                  <dd>
                    <select class="form-control form-control-sm" style="width:70px;" name="cantidad">
                      <option> 1 </option>
                      <option> 2 </option>
                      <option> 3 </option>
                      <option> 4 </option>
                      <option> 5 </option>
                    </select>
                  </dd>
                </dl>
              </div>
            </div>
            <hr>
            <button formaction="/carrito/agregarlibro" class="btn btn-lg btn-outline-primary text-uppercase">
              <i class="fa fa-shopping-cart"></i> Agregar
              al carrito</button>
          </form>
        </article>
      </aside>
    </div>
  </div>
</div>